/* Custom font */
/* Police personnalisée */
@font-face {
  font-family: Audiowide;
  src: url(./Audiowide-Regular.ttf);
}

/* General styles */
/* Styles généraux */
body {
  background-color: #140e27;
  color: #f5d042;
  font-family: 'Audiowide', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Main container */
/* Conteneur principal */
.container {
  text-align: center;
}

/* Password options */
/* Options du mot de passe */
.password-options {
  margin-top: 20px;
  text-align: left;
}

.length-option {
  margin-bottom: 10px;
}

.character-options label {
  display: block;
  margin-bottom: 5px;
}

/* Input styles */
/* Styles des inputs */
input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #f5d042;
  color: #f5d042;
  outline: none;
}

input[type='range'] {
  width: 200px;
  margin-right: 10px;
}

input[type='checkbox'] {
  margin-right: 5px;
}

/* Password container */
/* Conteneur du mot de passe */
.password-container {
  margin-top: 20px;
}

/* Button styles */
/* Styles des boutons */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f5d042;
  border: none;
  color: #140e27;
  cursor: pointer;
}

button:hover {
  background-color: #f9e194;
}

#copy-btn {
  margin-left: 10px;
}

/* Password strength indicator */
/* Indicateur de force du mot de passe */
.password-strength {
  margin-top: 10px;
  height: 5px;
  background-color: #ddd;
}

.password-strength::before {
  content: '';
  display: block;
  height: 100%;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.password-strength.weak::before {
  width: 33%;
  background-color: #ff4136;
}

.password-strength.medium::before {
  width: 66%;
  background-color: #ffdc00;
}

.password-strength.strong::before {
  width: 100%;
  background-color: #2ecc40;
}
